<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
		 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		 xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
		 version="3.0">

<context-param>
		<param-name>webAppRootKey</param-name>
		<param-value>bscDemo.root</param-value>
	</context-param>
	
	<context-param>
		<param-name>thisName</param-name>
		<param-value>指标管理平台</param-value>
	</context-param>
	
	
	<!-- spring 配置文件路径 -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:spring/applicationContext.xml</param-value>
	</context-param>
	
	<!-- log4j配置文件路径 -->
	<context-param>
		<param-name>log4jConfigLocation</param-name>
		<param-value>classpath:log4j/log4j.properties</param-value>
	</context-param>
	<context-param>
		<param-name>log4jRefreshInterval</param-name>
		<param-value>60000</param-value>
	</context-param>
	
	
	<!-- CAS融合 配置 Start -->
 <filter>
        <filter-name>CAS Single Sign Out Filter</filter-name>
        <filter-class>org.jasig.cas.client.session.SingleSignOutFilter</filter-class>
        <init-param>
            <param-name>casServerUrlPrefix</param-name>
            <param-value>https://127.0.0.1:8443/cas</param-value>
        </init-param>
    </filter>

    <listener>
        <listener-class>org.jasig.cas.client.session.SingleSignOutHttpSessionListener</listener-class>
    </listener>

    <filter>
        <filter-name>CAS Authentication Filter</filter-name>
        <filter-class>org.jasig.cas.client.authentication.AuthenticationFilter</filter-class>
        <init-param>
            <param-name>casServerLoginUrl</param-name>
            <param-value>https://127.0.0.1:8443/cas/login?locale=zh_CN</param-value>
        </init-param>
        <init-param>
            <param-name>serverName</param-name>
            <param-value>http://127.0.0.1:8088/bsbProd/</param-value>
        </init-param>
    </filter>

    <filter>
        <filter-name>CAS Validation Filter</filter-name>
        <filter-class>org.jasig.cas.client.validation.Cas30ProxyReceivingTicketValidationFilter
		</filter-class>
        <init-param>
            <param-name>casServerUrlPrefix</param-name>
            <param-value>https://127.0.0.1:8443/cas</param-value>
        </init-param>
        <init-param>
            <param-name>serverName</param-name>
            <param-value>http://127.0.0.1:8088/bsbProd/</param-value>
        </init-param>
        <init-param>
            <param-name>redirectAfterValidation</param-name>
            <param-value>true</param-value>
        </init-param>
        <init-param>
            <param-name>useSession</param-name>
            <param-value>true</param-value>
        </init-param>
        <init-param>
            <param-name>authn_method</param-name>
            <param-value>mfa-duo</param-value>
        </init-param>
    </filter>

    <filter>
        <filter-name>CAS HttpServletRequest Wrapper Filter</filter-name>
        <filter-class>org.jasig.cas.client.util.HttpServletRequestWrapperFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>CAS Single Sign Out Filter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>CAS Validation Filter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>CAS Authentication Filter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>CAS HttpServletRequest Wrapper Filter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping> 
    
	<!-- CAS融合 配置 End -->
	
	<!-- 登陆验证过滤器 -->
	<filter>
		<filter-name>sessionValidFilter</filter-name>
		<filter-class>com.rx.system.filter.SessionValidFilter</filter-class>
	</filter>
	
	<!-- 主页数据加载过滤器 -->
	<filter>
		<filter-name>mainPageFilter</filter-name>
		<filter-class>com.rx.system.filter.MainPageFilter</filter-class>
		<init-param>
			<param-name>encrypyMenu</param-name>
			<param-value>false</param-value>
		</init-param>
	</filter>
	
	<!-- 编码监听器 -->
	<filter>
		<filter-name>encodeFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>utf-8</param-value>
		</init-param>
	</filter>
	<!-- 
	<filter-mapping>
		<filter-name>encodeFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	 -->
	<!-- log4j监听 -->
	<listener>
		<listener-class>
			org.springframework.web.util.Log4jConfigListener
		</listener-class>
	</listener>
	
	<!-- spring 监听 -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	
	<listener>
		<listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
	</listener>
	
	<listener>
		<listener-class>com.rx.system.util.SystemSessionListener</listener-class>
	</listener>
	
	<!-- 系统初始化Servlet -->
	<servlet>
		<servlet-name>InitService</servlet-name>
		<servlet-class>com.rx.system.init.InitService</servlet-class>
		<load-on-startup>2</load-on-startup>
	</servlet>
	
	<!-- FusionChart 导出功能暂时注释 
	<servlet>
		<display-name>FCExporter</display-name>
		<servlet-name>FCExporter</servlet-name>
		<servlet-class>com.fusioncharts.exporter.servlet.FCExporter</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FCExporter</servlet-name>
		<url-pattern>/FCExporter.jsp</url-pattern>
	</servlet-mapping> 
	-->
	<filter>
		<filter-name>Set Character Encoding</filter-name>
		<filter-class>
			com.rx.system.filter.CharacterEncodingFilter
		</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
	
	<!--Set Character Encoding-->
	<filter-mapping>
		<filter-name>Set Character Encoding</filter-name>
		<url-pattern>*.action</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>Set Character Encoding</filter-name>
		<url-pattern>*.jsp</url-pattern>
	</filter-mapping>
	
	<filter-mapping>
		<filter-name>sessionValidFilter</filter-name>
		<url-pattern>*.action</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>sessionValidFilter</filter-name>
		<url-pattern>*.jsp</url-pattern>
	</filter-mapping>
	 
	<filter-mapping>
		<filter-name>Set Character Encoding</filter-name>
		<url-pattern>/service/ExportExcelService</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>Set Character Encoding</filter-name>
		<url-pattern>/service/ModelExcelService</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>Set Character Encoding</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<!-- 主页监听器拦截配置 -->
	<filter-mapping>
		<filter-name>mainPageFilter</filter-name>
		<url-pattern>/main.jsp</url-pattern>
	</filter-mapping>
	
	<!-- struts2标签 -->
	<filter>
		<filter-name>struts2</filter-name>
		<filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class>
    </filter>  
	<filter-mapping>
		<filter-name>struts2</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>


	<!-- 导出EXCEL Service -->
	<servlet>
		<servlet-name>ModelExcelService</servlet-name>
		<servlet-class>com.rx.system.model.excel.service.ModelExportToExcelService</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ModelExcelService</servlet-name>
		<url-pattern>/service/ModelExcelService</url-pattern>
	</servlet-mapping>
	
	<session-config>
		<session-timeout>-1</session-timeout>
	</session-config>
	
  <welcome-file-list>
    <welcome-file>/main.jsp</welcome-file>
  </welcome-file-list>
  <distributable/>
</web-app>
