<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.rx.system.dao.LogModuleDao">
	
	<!-- 分页查询数据Sql头 -->
	<sql id="pageDataHeader">
		select * from (select rownum as frameworkRownum, t1.* from (
	</sql>
	
	<!-- 分页查询数据Sql尾 -->
	<sql id="pageDataEnd">
		<![CDATA[
			) t1) where frameworkRownum > #{start} and frameworkRownum <= #{endrow}
		]]>
	</sql>
	
	<!-- 查询总数Sql头 -->
	<sql id="totalCountHeader">
		select count(*) from (
	</sql>
	
	<!-- 查询总数Sql头尾-->
	<sql id="totalCountEnd">
		)
	</sql>
	<!-- 查询系统各个模块访问情况 -->
	<select id="queryModuleInfo" parameterType="map" resultType="map">
		select
		    a.month_seq || '月'    as month_id,
		    sum(case when b.function_id is not null then 1 end)   as count
		from
		    (select
		        level                         as  month_seq,
		        #{year_id} || lpad(level,2,'0')   as  month_id,
		        to_date(#{year_id} || lpad(level,2,'0')||'01','yyyymmdd') as month_begin,
		        add_months(to_date(#{year_id} || lpad(level,2,'0')||'01','yyyymmdd'),1)-1/86400 as month_end
		    from
		        dual 
		    <![CDATA[connect by level <= 12]]>
		    ) a
		left join
		    bsc_operation_his b
		on
		    substr(b.function_id, 0, 3) = #{module_flag}
		and b.oper_time between a.month_begin and a.month_end
		group by
		    a.month_seq
		order by
		    a.month_seq
	</select>
	<!-- 实时访问情况 -->
	<select id="queryInstant" parameterType="map" resultType="map">
	select a.record_time, count(session_id) as count
	  from (select (sysdate) - level / 144 record_time
	          from dual
	        <![CDATA[connect by level <= 144) a]]>
	  left join bsc_login_his b
	    on a.record_time >= b.begin_time
	   <![CDATA[and a.record_time <= b.end_time]]>
	 group by a.record_time
	 order by a.record_time
	</select>
</mapper>