<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.rx.system.bsc.dao.BSCCalcPblshDao">
	<!-- 分页查询数据Sql头 -->
	<sql id="pageDataHeader">
		select * 
		from ( 
			select m.*,rownum rn
			from (
	</sql>
	
	<!-- 分页查询数据Sql尾 -->
	<sql id="pageDataEnd">
			<![CDATA[
				) m
				where rownum <= #{endrow}
			)
			where rn > #{start}
		]]>
	</sql>
	
	<!-- 查询总数Sql头 -->
	<sql id="totalCountHeader">
		select count(*) from (
	</sql>
	
	<!-- 查询总数Sql头尾-->
	<sql id="totalCountEnd">
		)
	</sql>
	
	<!-- 查询方案定义列表 -->
	<select id="listProject" parameterType="map" resultType="map">
		 select *
		   from bsc_project t
		  where 1=1 
		  	and t.record_status = 'A'
			and t.owner_org_id = #{owner_id}
		<if test="searchKey != null and searchKey != ''">
			and t.project_name like '%${searchKey}%'
		</if>
		<if test="app_type_id != null">
			and t.app_type_id = #{app_type_id}
		</if>
			order by app_type_id, project_name 
	</select>
	
	
</mapper>